<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-7 mx-auto">
            <form action="" class="">
                <br>  <br>  <br>
                 <input type="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Email">
                <input type="password" class="w-100 form-control border-0 py-3 mb-4" placeholder="Password">
                <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary" type="submit">Submit</button>
                <br> <br> 
                <div class="d-flex align-items-center">
                <p class="me-1 mb-0">You do not have an account?</p>
                <span>
                <a href="#register" class="dropdown-item"  style="color: rgb(148, 17, 17);">Register</a>
                

                 </span>
        </div>
            </form>
        </div>
    </div>
</div>