<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-7 mx-auto">
            <form action="" class="">
                <br>  <br>  <br>
                <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Username" name="username">
                 <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Name" name="name">
                  <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Surname" name="surname">
                <input type="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Email" name="email">
                <input type="password" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Password" name="password">
                
                <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary" type="submit">Submit</button>
                <br> <br> 
                
            </form>
        </div>
    </div>
</div>